* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

	body {
	background-color: black;
	font-family: Helvetica;
	font-size: 20px;
	color: grey;
	text-align: center;
	

}

canvas {
	text-align: center;
	position: relative;
	object-fit: contain;
	z-index: -1;

}

	.header {
		background-color: darkBlue;
		padding-top: 20px;
	}

	h1 {
		color: limegreen;
		text-align: center;
	}

	.button {
		text-align: center;
		padding: 30px;
	}

	.navbar {
		background: linear-gradient(0, red 0, blue, darkBlue 100%);
		padding: 20px;

	}

	.centerElement {
  width: 100%;
  color: white;
  border: 3px solid red;
  padding: 10px;
  position: absolute;
  background-color: grey;
  
	}

.title {
	  width: 100%;
  color: white;
  border: 3px solid red;
  padding: 10px;
  background-color: grey;
 

}


a {
	background-color: transparent;
	text-decoration: none;
	color:  white;
	padding: 16px;
}

.footer {
	padding: 20px;
}

.dropbtn {
  background-color: transparent;
  opacity: 1;
  color: white;
  padding: 16px;
  font-size: 20px;
  font-family: Helvetica;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  opacity: 0.8;
  min-width: 160px;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: grey}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: transparant;
  opacity: 1;
}

.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 5px;
}
